body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(55deg, #008dff 0, #0086ff 3.57%, #5b7eff 7.14%, #8575ff 10.71%, #a46bf4 14.29%, #bc61e6 17.86%, #d056d7 21.43%, #e04bc6 25%, #ed40b5 28.57%, #f637a2 32.14%, #fc328f 35.71%, #ff317d 39.29%, #ff356a 42.86%, #fe3c58 46.43%, #f94646 50%, #f25034 53.57%, #ea5b21 57.14%, #df6504 60.71%, #d36e00 64.29%, #c67600 67.86%, #b87e00 71.43%, #a88500 75%, #978b00 78.57%, #859100 82.14%, #729500 85.71%, #5d9900 89.29%, #429c00 92.86%, #129f1e 96.43%, #00a135 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 60%;
    height: auto;
    margin: 60px auto;
    padding-top: 2px;
    background-color: rgba(0, 255, 221, 0.3);
    box-shadow: 0px 0px 2px rgba(253, 253, 253, 0.3),0px 0px 4px rgba(253, 253, 253, 0.5),0px 0px 6px rgba(253, 253, 253, 0.7),0px 0px 8px rgba(253, 253, 253, 1);
    border-radius: 15px;
}
.cabecera{
    width: 80%;
    margin: 0px auto;
    text-align: center;
}
.cabecera h1{
    font-size: 33px;
    color: rgb(11, 57, 176);
    text-shadow: 0px 1px 2px rgb(58, 87, 253);
    letter-spacing: 1px;
}
.contenido{
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-grow: 1;
    justify-content:flex-end;
}
.encriptador, .desencriptador{
    width: 47%;
    height: 275px;
    margin: 0px auto;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgba(202, 193, 193, 0.699);
    box-shadow: 0px 0px 2px rgba(253, 253, 253, 0.3),0px 0px 4px rgba(253, 253, 253, 0.5),0px 0px 6px rgba(253, 253, 253, 0.7),0px 0px 8px rgba(253, 253, 253, 1);
    text-align: center;
}
.contenido h2{
    color: rgb(11, 57, 176);
    text-shadow: 0px 0px 2px rgba(161, 87, 230, 0.918);
    letter-spacing: 1px;
}
.contenido h3{
    font-size: 15px;
    text-align: left;
    color: rgb(138, 6, 6);
    margin-left: 5%;
}
.contenido textarea{
    width: 85%;
    height: 60px;
    resize: none;
    margin: 10px 5%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #00abff;
    border-radius: 5px;
    text-justify: distribute;
}
.desencriptador textarea{
    margin-top: 60px;
}
#resultado:focus{
 outline: none;
}
#resultado::selection{
    background-color: transparent;
}
.contenido button{
    display: inline-block;
    width: 115px;
    font-size: 17px;
    padding: 10px 5px;
    background-color: #00abff;
    color: rgb(252, 252, 252);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms;
}
.contenido button:hover{
    border: 1px solid white;
    transform: scale(1.03);
}
.contenido button:focus{
    border: none;
    box-shadow: 0px 0px 2px black inset;
    font-size: 15px;
}
footer{
    display: block;
    font-size: 15px;
    color: gray;
    font-style: ;
    text-align: right;
    margin-right: 15px;
    margin-bottom: 10px;
}
@media (max-width: 1000px){
    body{
        height: 100%;
    }
    .container{
        width: 98%
    }
    .cabecera h1{
        font-size: 30px;
    }
    .contenido{
        flex-direction: column;
    }
    .encriptador{
        margin-bottom: 20px;
    }
    .encriptador, .desencriptador{
        width: 90%;
    }
    .contenido button{
        width: 100px;
        font-size: 15px;
    }
    .desencriptador textarea{
        margin-top: 25px;
    }
} 
    
